<div>Round <%= params[:round_number] %>: <%= @result %></div>

<section class="arena">
<div id="canvasDiv"></div>
</section>

<script type="text/javascript">
  var arena = new Arena(document.getElementById("canvasDiv"), 960, 500, <%= @my_school.ipeds_id %>, <%= @opp_school.ipeds_id %> );
</script>
