
<section>
    <div class="container">

      <h2 class="message"><%= @final_result_message %></h2>

      <div class="summary">

        <div class="half">

          <h3>User Name</h3>
          <% @user.attributes.each do |k, v| %>
            <div><%= "#{k}: #{v}" %></div>
          <% end %>

        </div>

        <div class="half">

          <h3><%= @my_school.name %></h3>
          <% @my_school.preferences.attributes.each do |k, v| %>
            <div><%= "#{k}: #{v}" %></div>
          <% end %>

        </div>

        <div class="clearfix"></div>

        <a href="" class="coaches"></a>

      </div>

    </div>
</section>
