// Place all the styles related to the Versus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'application_settings';

.school-container {
  margin: 200px auto;
  border: 2px solid black;
  width: 804px;
}

.group:after {
  content: '';
  clear: both;
  display: block;
}

.school {
  vertical-align: middle;
  width: 160px;
  height: 160px;
  float: left;
  border: 2px solid black;
  background: #fff;
  opacity: .7;

  &:hover {
    opacity: 1;
    transition: .3s;
    border: 2px solid $color_secondary;
  }

  .logo {
    width: 100%;
  }
}

section {
  background-image: url("backgrounds/michigan-law-quad.jpg");
  background-size: cover;
}

